div{
    &.ion-grid{
        div{
            &.content{
                border: 2px solid #bcbcbc;
                box-sizing: border-box;
                width: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 15px;
                p{
                    align-self: flex-start;
                    margin: 0px;
                    padding-left: 15px;
                    font-size: small;
                    &.name{
                        font-size: large;
                        color: black;
                        font-weight: bold;
                    }
                    ion-label{
                        &.price{
                            font-weight: bold;
                            color: darkcyan;
                            font-size: 24px;
                        }
                        &.discount{
                            font-weight: bold;
                            color: darkorange;
                            font-size: 18px;
                        }
                    }
                }
                ion-chip{
                    align-self: flex-start;
                    color: darkgrey;
                }
                div{
                    ion-button{
                        &.addCar{
                            --border-radius:4px;
                            --background: darkorange;
                        }
                    }
                    ion-grid{
                        margin: 0px;
                        ion-row{
                            ion-col{
                                padding: 0px;
                                &.text{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    ion-text{
                                        margin-right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
   
}