<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tracking Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div><p>
    Seleccione un paquete y actualice su estado
  </p></div>

  <ion-label>Track ID</ion-label>
  <div class="selection">
    <ion-select #mySelect [value]="productTrackID" [selectedText]="productTrackID" 
    [(ngModel)]="productTrackID" okText="Okay" cancelText="Dismiss" 
    (ionChange)="packageTrackIDAction($event)" mode="ios" placeholder="Seleccione Track ID">
      <ion-select-option *ngFor="let trackID of packagesIDs">{{trackID}}</ion-select-option>
    </ion-select>
  </div>


  <ion-label>Estado del Paquete</ion-label>
  <div class="selection">
    <ion-select [(ngModel)]="productStatus" okText="Okay" cancelText="Dismiss" (ionChange)="packageStatusAction($event)" mode="ios" placeholder="Selecion Estado">
      <ion-select-option value="Entregado">Entregado al cliente</ion-select-option>
      <ion-select-option value="Failed">Intento de entrega fallido</ion-select-option>
      <ion-select-option value="Return">Devuelto a sucursal</ion-select-option>
    </ion-select>
  </div>
  
  <div>
    <ion-button expand="block" (click)="summitStatus()">Enviar Estado</ion-button>
  </div>
</ion-content>

<ion-footer>
  <img src="../../assets/icon/logoApp.png" alt="">
</ion-footer>