ion-toolbar {
    --background: #4b08d1;
    color: white;
    display: grid;
    --min-height: 70px;
    text-align: start;
    font-weight: bold;
    ion-buttons{
        &.line{
            border-left: 1px solid white;
            
        }
        ion-icon{
            font-size: 32px;
        }
    }
}
ion-content{
    div{
        &.imageLogIn{
            background-image: url("./../../assets/imgs/tecbox-registrarse(3).png");
            height: 316px;
            width: 100%;
            padding:10px;
            display: flex;
            align-items: flex-end;
            ion-button{
                --border-radius: 9px;
                --background: white;
                --color: black;
                position: relative;
                right: -308px;
            }
        }
        &.imageSignUp{
            background-image: url("./../../assets/imgs/signbanner(2).png");
            height: 313px;
            width: 100%;
            border-radius: 12px;
            margin: 40px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            ion-button{
                --border-radius: 9px;
                --background: white;
                --color: black;
            }
        }
        &.image2{
            margin: 20px;
            text-align: center;
        }
        &.content{
            ion-grid{
                margin: 40px;
                ion-row{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    ion-col{
                        display: flex;
                        justify-content: center;
                        align-content: center;
            
                    }
                }
            }
        }
    }
}
ion-footer{
    background: transparent;
    color: #4b08d1;
    text-align: center;
    font-weight: bold;
    height: 50px;
    padding: 15px;
    ion-icon{
      margin-right: 10px;
    }
  }