<ion-grid>
    <ion-row >
      <ion-col *ngFor='let product of data' >
        <div>
          <img src="{{product.image}}" alt="">
        <p class="name">{{product.name}} ({{product.barCode}})</p>
        <p>{{product.description}}</p>
        <p class="price">${{product.price}}</p>
        <ion-chip *ngIf="product.discount">
          <ion-icon name="trending-down"></ion-icon>
          <ion-label>Discount</ion-label>
        </ion-chip>
        <ion-chip *ngIf="product.taxes">
          <ion-icon name="trending-down"></ion-icon>
          <ion-label>Impuestos</ion-label>
        </ion-chip>
        <div><ion-grid>
          <ion-row>
            <ion-col>
              <ion-button [disabled]="!enable" (click)="decrement()">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col class="text">
              <ion-text class="number">{{ quantity }}</ion-text>
            </ion-col>
            <ion-col>
              <ion-button [disabled]="!enable" (click)="increment()">
                <ion-icon name="add-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid></div>
        <ion-button (click)="buy(product)">Comprar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>