<ion-grid>
    <ion-row >
      <ion-col *ngFor='let product of data' >
        <div>
          <img src="{{product.image}}" alt="">
        <p class="name">{{product.name}} ({{product.barCode}})</p>
        <p>{{product.description}}</p>
        <p class="price">${{product.price}}</p>
        <ion-chip *ngIf="product.discount">
          <ion-icon name="trending-down"></ion-icon>
          <ion-label>Discount</ion-label>
        </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>