ion-grid{
    ion-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        ion-col{
            
            div{
                border: 2px solid #8db7f0;
                box-sizing: border-box;
                box-shadow: 2px 2px 3px rgb(189, 214, 247 );
                border-radius: 10px;
                width: 250;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 15px;
                p{
                    align-self: flex-start;
                    margin: 0px;
                    padding-left: 15px;
                    font-size: small;
                    &.name{
                        font-size: medium;
                        color: darkcyan;
                        font-weight: bold;
                    }
                    &.price{
                        font-weight: bold;
                    }

                }
                ion-chip{
                    align-self: flex-start;
                    color: darkgrey;
                }
            }
        }
    }
}