<ion-toolbar>
  <ion-title>Editar datos</ion-title>
  <ion-buttons slot="end" (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let select of selectData">
      <ion-col>
        {{select.title}}
      </ion-col>
      <ion-col>
        <ion-input #Input placeholder="Enter Input" ></ion-input>
      </ion-col>
      <ion-col>
        <ion-button expand="full" (click)="updateData(Input.value, select.value)">Agregar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="save($event)">Agregar</ion-button>

</ion-content>
