<ion-toolbar>
  <ion-title>Editar datos</ion-title>
  <ion-buttons slot="end" (click)="dismiss()">
    <ion-icon name="close"></ion-icon>
  </ion-buttons>
</ion-toolbar>
<ion-content>
  <ion-grid>
    <p>Favor darle click a cada uno de los botones de actualizar</p>

    <ion-row *ngFor="let select of selectData">
      <ion-col>
        {{select.title}}
      </ion-col>
      <ion-col>
        <ion-input #Input placeholder="Enter Input" value={{select?.default}}></ion-input>
      </ion-col>
      <ion-col>
        <ion-icon (click)="updateData(Input.value, select.value)" name="checkbox-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" [disabled]="!disableButton" (click)="save($event)">Agregar</ion-button>

</ion-content>
