<div *ngIf='idEntity == "sucursal"'>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Nombre:</ion-label>
                <ion-item>
                    <ion-input #N type=text></ion-input>
                </ion-item>
            </ion-col> 
            <ion-col>
                <ion-label>Teléfono:</ion-label>
                <ion-item>
                    <ion-input #T type=text></ion-input>
                </ion-item>
            </ion-col> 
            <ion-col>
                <ion-label>Encargado:</ion-label>
                <ion-item>
                    <ion-input #E type=text></ion-input>
                </ion-item>
            </ion-col> 
            <ion-col>     
                <ion-label>Provincia</ion-label>           
                <ion-item>
                    <ion-select #P (ionChange)="cargarCantones(P.value)" placeholder="Select One">
                        <ion-select-option *ngFor="let p of provincias">{{p}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-label *ngIf="cantones">Cantón</ion-label> 
                <ion-item *ngIf="cantones">
                    <ion-select #C (ionChange)="cargarDistritos(C.value)" placeholder="Select One" > 
                        <ion-select-option *ngFor="let c of cantones">{{c}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-label *ngIf="distritos">Distrito</ion-label>
                <ion-item *ngIf="distritos">
                    <ion-select #D placeholder="Select One">
                        <ion-select-option *ngFor="let d of distritos">{{d}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>  
            <ion-col>
                <ion-button  (click)="guardarSucursal(N.value, T.value, E.value,P.value, C.value, D.value)" color="primary">Guardar</ion-button>
            </ion-col> 
        </ion-row>  
    </ion-grid>
</div>

      
<div *ngIf='idEntity == "trabajadores"'>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Nombre:</ion-label>
                <ion-item>
                    <ion-input #N type=text></ion-input>
                </ion-item>
            </ion-col> 
            <ion-col>
                <ion-label>Apellido 1:</ion-label>
                <ion-item>
                    <ion-input #A1 type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Apellido 2:</ion-label>
                <ion-item>
                    <ion-input #A2 type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Cédula:</ion-label>
                <ion-item>
                    <ion-input #C type=text></ion-input>
                </ion-item>
            </ion-col>  
            <ion-row>
            <ion-col>
                <ion-label>Fecha Nacimiento:</ion-label>
                <ion-item>
                    <ion-input #FN type=date></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Fecha Ingreso:</ion-label>
                <ion-item>
                    <ion-input #FI type=date></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>     
                <ion-label>Sucursal</ion-label>           
                <ion-item>
                    <ion-select #S placeholder="Select One">
                        <ion-select-option *ngFor="let s of sucursales">{{s}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>  
            <ion-col>
                <ion-label>Salario Hora:</ion-label>
                <ion-item>
                    <ion-input #SH type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-button  (click)="guardarTrabajador(N.value, A1.value, A2.value, C.value, FN.value, FI.value, S.value, SH.value)" color="primary">Guardar</ion-button>
            </ion-col> 
        </ion-row>                    
    </ion-row>
    </ion-grid>
</div>

<div *ngIf='idEntity == "vendedores"'>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Nombre:</ion-label>
                <ion-item>
                    <ion-input #N type=text></ion-input>
                </ion-item>
            </ion-col> 
            <ion-col>
                <ion-label>Apellido 1:</ion-label>
                <ion-item>
                    <ion-input #A1 type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Apellido 2:</ion-label>
                <ion-item>
                    <ion-input #A2 type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Cédula:</ion-label>
                <ion-item>
                    <ion-input #C type=text></ion-input>
                </ion-item>
            </ion-col>  
            <ion-col>
                <ion-button  (click)="guardarVendedor(N.value, A1.value, A2.value)" color="primary">Guardar</ion-button>
            </ion-col> 
        </ion-row>                    
    </ion-grid>
</div>

<div *ngIf='idEntity == "producto"'>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Nombre:</ion-label>
                <ion-item>
                    <ion-input #N type=text></ion-input>
                </ion-item>
            </ion-col> 
            <ion-col>
                <ion-label>Descripción:</ion-label>
                <ion-item>
                    <ion-input #D type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Código Barras:</ion-label>
                <ion-item>
                    <ion-input #C type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Vendedor:</ion-label>
                <ion-item>
                    <ion-input #V type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Precio de compra:</ion-label>
                <ion-item>
                    <ion-input #PC type=text></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Impuesto:</ion-label>
                <ion-item>
                    <ion-select #I placeholder="Select One">
                        <ion-select-option>Si</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Descuento:</ion-label>
                <ion-item>
                    <ion-select #DES placeholder="Select One">
                        <ion-select-option>Si</ion-select-option>
                        <ion-select-option>No</ion-select-option>
                      </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-button  (click)="guardarProducto(N.value, D.value, C.value, V.value, PC.value, I.value, DES.value)" color="primary">Guardar</ion-button>
            </ion-col>                     
        </ion-row>
    </ion-grid>
</div>
<div *ngIf='idEntity == "rutas"'>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>Provincia</ion-label>                
                <ion-item>
                    <ion-select #P (ionChange)="cargarCantones(P.value)" placeholder="Select One">
                        <ion-select-option *ngFor="let p of provincias">{{p}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-label>Cantón</ion-label> 
                <ion-item>
                    <ion-select #C (ionChange)="cargarDistritos(C.value)" placeholder="Select One"> 
                        <ion-select-option *ngFor="let c of cantones">{{c}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-label>Distrito</ion-label>
                <ion-item>
                    <ion-select #D placeholder="Select One">
                        <ion-select-option *ngFor="let d of distritos">{{d}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>  
            <ion-col>
                <ion-button  (click)="addDistritoTemp(D.value)" color="primary">Añadir Distrito</ion-button>
            </ion-col>  
            <ion-col>
                <ion-button  (click)="guardarRuta()" color="primary">Guardar</ion-button>
            </ion-col>  
            <ion-label>Ruta actual: </ion-label>
            <ion-label *ngFor="let d of distritosRutas">{{d}}-></ion-label>       
                       
        </ion-row>
    </ion-grid>
</div>
