
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vista Administración
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sideAdminMenu($event)">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
      <app-sucursales [src]="navigate"></app-sucursales>  
  </div>  
  <div>
    <app-trabajadores></app-trabajadores>
  </div>
  <div>
    <app-vendedores></app-vendedores>
  </div>
  <div>
    <app-productos [src]="inputProduct"></app-productos>
  </div>
  <div>
    <app-rutas></app-rutas>  
  </div>
</ion-content>
