
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="main"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Vista Administración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
      <app-sucursales [src]="navigate"></app-sucursales>  
  </div>  
  <div>
    <app-trabajadores></app-trabajadores>
  </div>
  <div>
    <app-vendedores></app-vendedores>
  </div>
  <div>
    <app-productos [src]="inputProduct"></app-productos>
  </div>
  <div>
    <app-rutas></app-rutas>  
  </div>
</ion-content>
