
<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button id="main"></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Vista Administración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
      <app-sucursales [src]="navigate"></app-sucursales>
      <app-trabajadores></app-trabajadores>
      <app-vendedores></app-vendedores>
      <app-productos></app-productos>
      <app-rutas></app-rutas>    
  </div>  
</ion-content>
