<ion-header>
  <ion-toolbar>
    <ion-title>Vista Web del cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
      Articulos
      <app-articulos></app-articulos>
      <ion-button (click)="enableCliente()" color="primary">Clientes</ion-button>
      <app-cliente *ngIf="ClienteEnable"></app-cliente>

      <ion-button (click)="enablePaquete()" color="primary">Rastreo Paquetes</ion-button>
      <app-rastre-paquetes *ngIf="PaquetesEnable"></app-rastre-paquetes>

  </div>
  
    
</ion-content>
