
<ion-grid *ngIf='id == "sucursal"'>
    <ion-row >
        <ion-col  class="header" size=1.5>
          Nombre
        </ion-col>
        <ion-col class="header" size=1.5>
          Provincia
        </ion-col>
        <ion-col class="header" size=1.5>
          Canton
        </ion-col>
        <ion-col class="header" size=1.5>
          Distrito
        </ion-col>
        <ion-col class="header" size=1.5>
          Otras señas
        </ion-col>
        <ion-col class="header" size=1.5>
          Telefono
        </ion-col>
        <ion-col class="header" size=1.5>
          Encargado
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
        <ion-col size=1.5>
          {{item.Name}}
        </ion-col>
        <ion-col size=1.5>
          {{item.Province}}
        </ion-col>
        <ion-col size=1.5>
          {{item.City}}
        </ion-col>
        <ion-col size=1.5>
          {{item.District}}
        </ion-col>
        <ion-col size=1.5>
          {{item.City}}
        </ion-col>
        <ion-col size=1.5>
          {{item.Phone}}
        </ion-col>
        <ion-col size=1.5>
          {{item.Name}}
        </ion-col>
      </ion-row>
</ion-grid>
<ion-grid *ngIf='id == "trabajadores"'>
    <ion-row >
        <ion-col  class="header" size=1.5>
          Nombre
        </ion-col>
        <ion-col class="header" size=1.5>
          Cedula
        </ion-col>
        <ion-col class="header" size=1.5>
          Fecha Nacimiento
        </ion-col>
        <ion-col class="header" size=1.5>
          Fecha ingreso
        </ion-col>
        <ion-col class="header" size=1.5>
          sucursales
        </ion-col>
        <ion-col class="header" size=1.5>
          Precio hora
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
        <ion-col size=1.5>
          {{item.Name}}
        </ion-col>
        <ion-col size=1.5>
          {{item.Province}}
        </ion-col>
        <ion-col size=1.5>
          {{item.City}}
        </ion-col>
        <ion-col size=1.5>
          {{item.District}}
        </ion-col>
        <ion-col size=1.5>
          {{item.City}}
        </ion-col>
        <ion-col size=1.5>
          {{item.Phone}}
        </ion-col>
      </ion-row>
</ion-grid>
<ion-grid *ngIf='id == "vendedores"'>
    <ion-row >
        <ion-col  class="header" size=3>
          Nombre
        </ion-col>
        <ion-col class="header" size=3>
          Tipo de cedula
        </ion-col>
        <ion-col class="header" size=3>
          Cedula
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
        <ion-col size=3>
          {{item.Name}}
        </ion-col>
        <ion-col size=3>
          {{item.Province}}
        </ion-col>
        <ion-col size=3>
          {{item.City}}
        </ion-col>
      </ion-row>
</ion-grid>
<ion-grid *ngIf='id == "producto"'>
    <ion-row >
      <ion-col  class="header" size=1.5>
          Nombre
      </ion-col>
      <ion-col class="header" size=1.5>
        Descripcion
      </ion-col>
      <ion-col class="header" size=1.5>
        Codigo Barra
      </ion-col>
      <ion-col class="header" size=1.5>
        Vendedor
      </ion-col>
      <ion-col class="header" size=1.5>
        Precio
      </ion-col>
      <ion-col class="header" size=1.5>
        Impuesto
      </ion-col>
      <ion-col class="header" size=1.5>
        Descuento
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
      <ion-col size=1.5>
          {{item.Name}}
      </ion-col>
      <ion-col size=1.5>
        {{item.Province}}
      </ion-col>
      <ion-col size=1.5>
        {{item.City}}
      </ion-col>
      <ion-col size=1.5>
        {{item.District}}
      </ion-col>
      <ion-col size=1.5>
        {{item.City}}
      </ion-col>
      <ion-col size=1.5>
        {{item.Phone}}
      </ion-col>
      <ion-col size=1.5>
        {{item.Name}}
      </ion-col>
      </ion-row>
</ion-grid>
<ion-grid *ngIf='id == "rutas" || id == "paquetes"'>
    <ion-row >
      <ion-col  class="header" size=2.5>
        Tracking id
      </ion-col>
      <ion-col class="header" size=2.5>
        Cliente
      </ion-col>
      <ion-col class="header" size=2.5>
        Descipcion
      </ion-col>
      <ion-col class="header" size=2.5>
        fecha de llegada
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
      <ion-col size=2.5>
          {{item.Name}}
      </ion-col>
      <ion-col size=2.5>
        {{item.Province}}
      </ion-col>
      <ion-col size=2.5>
        {{item.City}}
      </ion-col>
      <ion-col size=2.5>
        {{item.District}}
      </ion-col>
      </ion-row>
</ion-grid>
<ion-grid *ngIf='id == "cliente"'>
    <ion-row >
      <ion-col  class="header" size=1.2>
        Nombre
      </ion-col>
      <ion-col class="header" size=1.2>
        Cedula
      </ion-col>
      <ion-col class="header" size=1.2>
        Num Casa
      </ion-col>
      <ion-col class="header" size=1.2>
        Celular
      </ion-col>
      <ion-col class="header" size=1.2>
        Provincia
      </ion-col>
      <ion-col class="header" size=1.2>
        Canton
      </ion-col>
      <ion-col class="header" size=1.2>
        Distrito
      </ion-col>
      <ion-col class="header" size=1.2>
        Otras señas
      </ion-col>
      <ion-col class="header" size=1.2>
        Usuario
      </ion-col>
      <ion-col class="header" size=1.2>
        Password
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
      <ion-col size=1.2>
          {{item.Name}}
      </ion-col>
      <ion-col size=1.2>
        {{item.Province}}
      </ion-col>
      <ion-col size=1.2>
        {{item.City}}
      </ion-col>
      <ion-col size=1.2>
        {{item.District}}
      </ion-col>
      <ion-col size=1.2>
        {{item.City}}
      </ion-col>
      <ion-col size=1.2>
        {{item.Phone}}
      </ion-col>
      <ion-col size=1.2>
        {{item.Name}}
      </ion-col>
      <ion-col size=1.2>
        {{item.Name}}
      </ion-col>
      <ion-col size=1.2>
        {{item.Name}}
      </ion-col>
      <ion-col size=1.2>
          {{item.Name}}
       </ion-col>
      </ion-row>
</ion-grid>
<ion-grid *ngIf='id == "rastreo"'>
    <ion-row >
      <ion-col  class="header" size=2.5>
        Tracking id
      </ion-col>
      <ion-col class="header" size=2.5>
        Estado
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of prueba">
      <ion-col size=2.5>
          {{item.Name}}
      </ion-col>
      <ion-col size=2.5>
        {{item.Province}}
      </ion-col>
      </ion-row>
</ion-grid>