ion-toolbar {
 --background: #2575e1;
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  
}

div{
  padding:18px;
  margin:20px;
  h2{
    margin: 30px;
    margin-bottom: 0px
  }
}
  
