ion-toolbar {
 --background: #2575e1;
  color: white;
  display: grid;
  justify-content: center;
  align-content: center;
  
}

div{
  padding:18px;
  margin:20px;
  div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
        align-self: center;
        margin: 30px;
      margin-bottom: 0px
    }
}
}
  
