
<div>
    <form [formGroup]="ComponentLoginForm">
        <ion-input  clearInput=true formControlName="email" type="email" placeholder="  Usuario"  [ngClass]="{ 'invalid': invalidEmail }"></ion-input>
        <p *ngIf='!ComponentLoginForm.controls.email.valid'>Ingresa un correo válido.</p>
        <ion-input  clearInput=true formControlName="password" type="password" placeholder="  Contraseña" required="true" [ngClass]="{ 'invalid': invalidPassword }"></ion-input>
        <p *ngIf='!ComponentLoginForm.controls.password.valid'>Se requiere una contraseña.</p> 
    </form>
    <ion-row style="text-align: center">
        <ion-button [disabled]="!ComponentLoginForm.valid" size="default" shape="round" (click)="summit()">Entrar</ion-button>
    </ion-row>
    
<!--expand="block" -->
</div>