<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vista de Reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h2>Reporte 1</h2> 
      <app-table></app-table>
      <ion-button (click)="generarReporte1()">Descargar Reporte 1</ion-button>
    <h2>Reporte 2</h2>
      <app-table></app-table>
      <ion-button (click)="generarReporte2()">Descargar Reporte 2</ion-button>
    <h2>Reporte 3</h2>
      <app-table></app-table>
      <ion-button (click)="generarReporte3()">Descargar Reporte 3</ion-button>
    </div>
 
</ion-content>
