<ion-header>
  <ion-toolbar>
    <ion-title>Vista Administración</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false" (click)="presentPopover($event)"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda tempore facere cupiditate! Nobis saepe eaque architecto ducimus eveniet debitis, nisi explicabo ad in eos repudiandae consectetur vel adipisci ipsum maxime.</p>
</ion-content>
