div{
    &.content{
        margin: 30px;
        div{
            &.title{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                h2{
                    color: gray;
                    text-transform: uppercase;
                }
            }
            

        }
    }
}